.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.board-cell {
    background-color: rgb(218, 218, 218);
    border-style: solid;
}